.rating-area {
  overflow: hidden;
  width: 265px;
  margin: 0;
}
.rating-area:not(:checked) > input {
  display: none;
}
.rating-area:not(:checked) > label {
  float: right;
  width: 15px;
  padding: 0;
  cursor: pointer;
  font-size: 15px;
  line-height: 32px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
  content: "★";
}
.rating-area > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
  position: relative;
}

.card-img {
  filter: blur(8px);
}

.btn-login {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: #653208;
  color: #fff;
  border: 0px;
  margin: 10px 0 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.addbtn-login {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: #653208;
  color: #fff;
  border: 0px;
  margin: 10px 0 10px 0;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.form-group {
  margin: 15px 0 15px 0;
}

.form-group input {
  background-color: transparent;
  border-color: #653208;
}

.text {
  background-color: transparent;
  border-color: #653208;
  color: #d5d4d4;
}

.form-group input::placeholder {
  color: #d5d4d4;
}

.text-label {
  color: #fff;
}

.card-login {
  background-image: url("../images/bookCover.jpg");
  height: 100vh;
}

.form-control {
  color: #d5d4d4;
}

.img-search {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}


.title {
  padding: 40px;
}
.search-form {
  position: sticky;
  left: 1150px;
}
